<!DOCTYPE html>
<html>
<body>
    <form action="/result" method="post" enctype="multipart/form-data">
        <label>Wybierz walutę</label>
        <select name="currency">
            {% for rate in rates %}
            <option value="{{rate.code}}">{{ rate.currency }}</option>
            {% endfor %}
        </select>
        <input type="number" name="amount" placeholder="Wpisz liczbę">
        <br>
        <button type="submit">
            Oblicz
        </button>
    </form>
</body>
</html>